---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/NavBar';
import Hero from '../components/Hero'
import About from '../components/About'
import Pricing from '../components/Pricing'
import Footer from '../components/Footer'
---

<Layout>
	<Navbar client:load/>
	<section id="hero" class="min-h-screen">
		<Hero client:load/>
	</section>
	<section id="about" class="min-h-screen">
		<About/>
	</section>
	<section id="about" class="min-h-screen">
		<Pricing />
	</section>
	<Footer/>
</Layout>
